name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Enable corepack
        run: corepack enable
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Check code
        run: |
          yarn typecheck
          yarn eslint .
          yarn prettier:check
      - name: Run tests
        run: yarn test
      - name: Build next app
        run: yarn build
      - name: Run stoat action
        uses: stoat-dev/stoat-action@main
        if: always()
